<div class="back inline xs">
    <div class="sprites" id="sprites" title="{{signal}}"></div>
    <div class="manyLights" id="manyLights">多</div>
</div>
<div class="back middle inline green">
    <div class="text_unit_normal">
        <div>速度</div>
        <div>km/h</div>
    </div>
    <div class="number">{{speed}}</div>
</div>
<div class="back middle inline red">
    <div class="text_unit_normal">
        <div>限速</div>
        <div>km/h</div>
    </div>
    <div class="number">{{limitSpeed}}</div>
</div>
<div class="back large inline grey">
    <div class="text_unit_small">
        <div>车站信息</div>
    </div>
    <div class="text_name">{{station}}</div>
</div>
<div class="large inline white">
    <div class="back signle bottom">
        <div class="text">模式</div>
        <div class="value">{{name}}</div>
    </div>
    <div class="back signle">
        <div class="text">公里标</div>
        <div class="value">{{glb}}</div>
    </div>
</div>
<div class="back small inline white">
    <div class="time">{{time}}</div>
    <div class="date">{{date}}</div>
</div>