<div class="back inline" style="width: 9%;padding: 15px 20px">
    <div class="sprites" id="sprites" title="{{signal}}"></div>
    <div class="manyLights" id="manyLights">多</div>
</div>
<div class="back inline green" style="width: 17%">
    <div class="text_unit_normal">
        <div>速度</div>
        <div>km/h</div>
    </div>
    <div class="number">{{speed}}</div>
</div>
<div class="back inline red" style="width: 17%">
    <div class="text_unit_normal">
        <div>限速</div>
        <div>km/h</div>
    </div>
    <div class="number">{{limitSpeed}}</div>
</div>
<div class="back inline grey" style="width: 22%">
    <div class="text_unit_normal" style="width: 24%">
        <div>距离</div>
        <div>m</div>
    </div>
    <div class="number">{{distance}}</div>
</div>
<div class="inline white" style="width: 18%">
    <div class="back signle bottom">
        <div class="text">信号</div>
        <div class="value">{{shangxiaxing}}</div>
    </div>
    <div class="back signle">
        <div class="text">公里</div>
        <div class="value">{{glb}}</div>
    </div>
</div>
<div class="back inline white" style="width: 15%">
    <div class="time">{{time}}</div>
    <div class="date">{{date}}</div>
</div>